Repository lappis-unb/rasa-ptbr-boilerplate, pull requests merged in 2020-11, with the labels that each got.

#189 Organização e atualização de arquivos da documentação
  .gitbook.yaml
  .gitignore
  README.md
  SUMMARY.md
  docs/README.md
  docs/Setup/setup_analytics.md
  docs/Setup/setup_telegram.md
  docs/Tutoriais/setup_user_elasticsearch.md
  docs/Tutoriais/tutorial-add-bot-rocketchat.md
  docs/Tutoriais/tutorial-como-contribuir-com-documentacao.md
  docs/setup_telegram.md
Labels: :beer: Hacktoberfest, :left_speech_bubble: boss, hacktoberfest-accepted, 📝 documentação

#191 Arrumar comando make run-x
  Makefile
  docker-compose.yml
  env/rasax.env
Labels: codigo/rasa, evolucao

#179 Evoluindo arquitetura do custom action
  bot/actions/action_telefone.py
  bot/actions/action_teste.py
  docs/Tutoriais/tutorial-como-criar-uma-action.md
Labels: :beer: Hacktoberfest, :left_speech_bubble: boss, codigo/rasa, hacktoberfest-accepted, 📝 documentação
